<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark"><H1>BOLETA</H1></ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
 <ion-list>
    <ion-list-header><H4>Siglo XXI</H4></ion-list-header>
    <ion-item>
      <ion-label>
        <h2>VICUÑA MACKENNA 8840, LA FLORIDA</h2>
        <h2>NRO FISCAL : 32498764-239874</h2>
        <h2>COMERCIAL SIGLO XXI LTDA</h2>
        <h2>RUT : 72.394.875-8</h2>
        <h2>GIRO : RESTAURAN CAMPING</h2>
        <h2>HUERFANOS 2524, SANTIAGO</h2>
        <h2>RES.SII Nro .126 DEL 2 DE AGOSTO DE 2010</h2>
        <h2>BOLETA AUTORIZADA POR EL SII</h2>
        <h2>BOLETA : 000003287 CAJA : 0001</h2>
        <h2>1 LOMO A LO POBRE CON AGREGADO  $9000</h2>
        <h2>SUBTOTAL $9000</h2>
        <h2>TOTAL CON PROPINA 10% $9900</h2>
        <h2>FECHA: 10/9/2022</h2>
        <h2>HORA 18:14</h2>
        <h2>1NR V01/08</h2>


        </ion-label>
      </ion-item>
 </ion-list>
</ion-content>
